@charset "UTF-8";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
/*font-family: 'Ubuntu', sans-serif;*/
}
header nav ul li{ 
  display: inline;
  text-decoration: none;
  margin-left: 16px;
  }
  header nav li a{
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color: black;
  }
  #sobre-mim .container img{
    width:350px;
    height: 350px;
    object-fit: contain;
  }
  header{
    background-color: #b5a99965;
    padding: 16PX;
    font-family: 'Ubuntu', sans-serif;
  }
  header .container, #sobre-mim .container, #curriculo .container, #projetos .container,.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .container {
    padding: 16px 16px;
   
  }
  .container p, h3, li{
    line-height: 2em;
    text-align: justify;
    list-style: circle;
    font-family: 'Ubuntu', sans-serif;
    
  }
  .container h3{
    font-size: 1.5em;
    font-weight:bold ;
  }
  #curriculo .container h1{margin-top: 0;

  }
  .container h1, #projetos h1{
    font-size: 2.5em;
    padding: 16px 16px;}
    form{
      background-color: #b5a99965;
      padding: 10px;
      border-radius: 8px;
      margin-bottom: 16px;
      
    }
    form input, form label, button, textarea{
      display: block;
      width: 350px;
      margin-bottom: 5px;
      padding: 8px;
      border-radius: 6px;
      
    }
    
    form textarea {
      height: 180px;
      resize: none;
      font-family: 'Ubuntu', sans-serif;
    }
    form button:hover{
      background-color: #7a7369a3;
    }
    form button{
      cursor: pointer;
    }
    footer .tel{
      width: 350px;
    }

  footer .container img{
      width: 24px;
      height: 24px;
      margin: 0;
    }
    footer{
      background-color: #b5a99965;
      
    }

  
/*-------------------------------------------------------------------------------------------------------------*/

/*section{
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: flexbox;
}
header nav ul li{ 
display: inline;
text-decoration: none;
margin-left: 16px;
}
header nav li a{
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  color: black;
}
.container img{
  width:350px;
  height: 350px;
  object-fit: cover;
}
header .container, #sobre-mim .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
........
#sobre-mim h2, h3{
  line-height: 2em;
  text-align: justify;
}
#sobre-mim p{
  width: 500px;
  margin: auto;

}


hr{
  margin: 16px auto;
}
.container {
  display: flex;
  justify-content: space-between;
}
#Curriculo .container h1{
  margin-bottom: 50px;
}
#Curriculo .container li{
  line-height: 2em;
  text-align: justify;
}
.contain{
  display: flex;
  justify-content: space-between;
}
form{
  background-color: #b5a99965;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 16px;
  
}
form input, form label, button, textarea{
  display: block;
  width: 320px;
  margin-bottom: 5px;
  padding: 8px;
  border-radius: 6px;
  
}

form textarea {
  height: 180px;
  resize: none;
  font-family: 'Ubuntu', sans-serif;
}
form button:hover{
  background-color:#7a7369a3;
}
form button{
  cursor: pointer;
}
#projetos .contain p,h3,h1, h2,img{
  width: 50%;
  line-height: 2em;
  margin: 0 16px;
}


.container .infor h3,p{
  margin-bottom: 15px;
  
}

footer{
  background-color: #b5a99965;
  padding: 16PX;
  font-family: 'Ubuntu', sans-serif;
  padding: 80px auto;
  width: 100%;
}
footer .container img{
  width: 24px;
  height: 24px;
  margin: 0;
}
*/